.formWrapper {
  padding: 3%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.formBody {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.formTextArea {
  width: 100%;
  border: 0;
  font-size: 20px;
  outline: none;
  font-family: inherit;
  resize: none;
}

.formFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formFooterLeft {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
}

.formFooterRight {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.circularProgress {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  & .MuiCircularProgress-root {
    position: absolute;
  }
}
