.wrapper {
  width: 100vh;
}

.leftSideWrapper {
  top: 0;
  position: sticky;
}

.searchField {
  border-radius: 30px;
  background-color: #e6ecf0;
  height: 45px;
  padding: 0;
}

.rightSideWrapper {
  padding-top: 20px;
  position: sticky;
  top: 0;
}
