.wrapper {
  width: 100vh;
}

.searchField {
  border-radius: 30px;
  background-color: #e6ecf0;
  height: 45px;
  padding: 0;
}

@media (max-width: 1120px) {
  .kurlykText{
    padding-left: 40px !important;
  }
}
